./frontend/node_modules
./backend/node_modules
# ./backend/.env
# ./backend/src/config/config.js
# ./backend/src/config/env.js
# ./backend/src/config/database.js
# ./backend/src/config/database.js
node_modules